<DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <title>Can and Pantry - {{site}}</title>
   <link href="https://fonts.googleapis.com/css?family=Belleza&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="styles.css">
   <link rel="stylesheet" href="index.js">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.2/handlebars.runtime.js" charset="utf-8" defer></script>
   <script src="/checkboxTemplate.js" charset="utf-8" defer></script>
</head>
<body>
   <header>
      <h1 class="site-title"><a href="index.html">Can and Pantry, A Virtual Cookbook</a></h1>
      <a id= "recipes-link" href="recipes.html">Recipes</a>
      <a id= "create-recipes-link" href="#">Create Recipes</a>
</header>

   
   {{{body}}}

</body>



</html>