<main class="content">
   <h1 id= "main-header"> Food Groups </h1>
   <section id="food-checkbox">
        {{#each categoryData}}
            {{> checkbox}}
        {{/each}}  
    </section>

    <button type="button" id="generate-recipes">Get Recipes!</button>


    <div id="recipe-conatainer"> </div>
</main>