<main class="content">
   <h1 class="main-header"> Food Groups </h1>
   <section id="food-checkbox">
        {{#each categoryData}}
            {{> checkbox}}
        {{/each}}
    </section>

    <button type="button" id="generate-recipes">Get Recipes!</button>

{{!-- {{ This is where we want to insert reipes into the dom!}} --}}
    <section id="recipe-section">

    </section>

</main>
