body{
  margin: 0;
  font-family: 'Belleza', sans-serif;
}

/* ==== Header css ====*/

header{
  display: flex;
  background-color: #dededf;
}

.site-title{
  font-size: 35px;
  padding-left: 32px;
  margin: 0;
}

.site-title > a {
  font-size: 28px;
  text-decoration: none;
  color: #44211a;
}

.site-title > a > p{
  font-size: 22px;
  padding-left: 20px;
  margin: 0;
  margin-bottom: 10px;
}


.site-links{
  font-size: 22px;
  margin: auto;
  order: 2;
  margin-right: 30px;
}

.site-links > a {
  padding: 20px;
  color: #44211a;
  text-decoration: none;
  border-radius: 10px;
}

.site-links > a:hover {
  background-color: #f67811;
  color: black;
}


/* ==== Section Styles ====*/

#main-header {
  font-size: 40px;
  margin: 20px 0px;
  text-align:center;
  color: #f67811;
}

#food-checkbox{
    display: flex;
    text-align: left;
    position: relative;
    margin-left: 5%;
    padding: 0px 10% 2% 0px;
}

.filter-input-container{
    display: inline-block;
    flex-grow: 1;

}

legend {
    font-size: 25px;
    color: #f67811;

}

#generate-recipes{
  text-align: center;
  vertical-align: middle;
  margin-left: 34%;
  width: 20%;
  display: inline-block;
  align-items: center;
  font-size: 25px;
  color: white;
  padding: 15px;
  background-color: #f67811;
  border: 2px solid #ababab;
  border-radius: 5px;
  font-weight: lighter;
  cursor: pointer;


}
#generate-recipes:hover{
    background-color:#f1f1f1;
    border-color: #fff;
    color:000;
    border: 2px solid #ababab

}
#food-checkbox{
  display: flex;
  align-items:center;
  position: relative;
  left: 50px;


}
